/* re-writing CSS according to responsive design */

*,
*::after,
*::before {
    box-sizing: border-box;
}

fieldset {
    border-radius: 8px;
    border: dashed 1px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
}

body>div {
    width: 100%;
}

.coordinate
{
    position: absolute;
    visibility: hidden;
    
}

#deliveryid
{
    position: absolute;
    /* visibility: hidden; */
}

.container {
    margin: 0 auto;
    background: #f0f0f0;
    border-radius: 8px;
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.form-wrapper {
    min-width: 400px;
    overflow: auto;
}

#form {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 350px;
    max-width: 350px; */
    row-gap: 5px;
    justify-content: center;
    align-items: center;
}

.info-box {
    padding: 5px;
    border: dashed 2px;
    margin: 5px;
    width: 350px;
}

.info-box:nth-of-type(1) {
    border-color: red;
}

.info-box:nth-of-type(2) {
    border-color: green;
}

.info-box:nth-of-type(3) {
    border-color: blue;
}

.information {
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-columns: repeat(4, auto);
    max-width: 350px;
    row-gap: 2px;
}


/* header */

.header {
    background-color: rgba(255, 210, 0, 0.5);
    background-image: url(../resources/dots.png);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

#logo {
    max-width: 51px;
    height: auto;
    animation-name: bicycle-move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#logo:hover {
    transform: scale(1.1);
}

@keyframes bicycle-move {
    0% {}
    20% {
        transform: translateX(60px);
    }
    40% {
        transform: translateX(120px);
    }
    60% {
        transform: translateX(180px);
    }
    80% {
        transform: translateX(240px);
    }
    100% {
        transform: translateX(300px);
    }
}

.info {
    margin: 0px auto;
    background-image: url(../resources/dots.png);
    background: turquoise;
    display: flex;
    flex-direction: row;
    border-radius: 8px 8px 8px 8px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
    align-items: center;
    justify-content: center;
}

.info p {
    width: 350px;
    margin: 5px;
}

.info img {
    width: 60px;
    height: auto;
}

.header-wrapper {
    max-width: 375px;
    margin: 0 auto;
}


/* placing items on grids */

.dim {
    max-width: 100px;
    grid-row: 3;
}

.comments {
    grid-row: 4/5;
    grid-column: 1/5;
    resize: vertical;
}

#option-wrapper-envelope {
    grid-column: 1/3;
    grid-row: 1;
}

#option-wrapper-package {
    grid-column: 3/5;
    grid-row: 1;
}

.dim input {
    max-width: 50px;
    ;
}

.dim span {
    position: relative;
    font-size: 12px;
    left: -1px;
}

#submit-button {
    grid-row: 4;
}

.date {
    border-radius: 5px;
    display: grid;
}

.pickup-date {
    grid-column: 1/4;
}

.pickup-time {
    grid-column: 4/5;
    max-width: 70px;
    justify-self: right;
}

.fname {
    grid-column: 2/3;
    width: 100px;
}

.sname {
    width: 100px;
}

.email {
    grid-column: 2/5;
}

.phone {
    grid-column: 3/5;
}

.phone-label {
    grid-column: 1/3;
}

.street {
    grid-column: 2/4;
}

.local {
    grid-column: 3/4;
    grid-row: 2;
    max-width: 100px;
    justify-self: right;
}

.building {
    grid-column: 2/3;
    grid-row: 2;
    width: 150px;
}

.city {
    grid-row: 3;
    grid-column: 2/3;
    max-width: 150px;
}

.city-label {
    grid-row: 3;
}

.state {
    grid-row: 4;
    grid-column: 2/4;
}

.state-label {
    grid-row: 4;
}

.zip {
    grid-row: 3;
    grid-column: 3/4;
    max-width: 100px;
    justify-self: right;
}

.country-label {
    grid-row: 5;
}

.country {
    grid-row: 5;
    grid-column: 2/4;
}

.package-info-warning {
    grid-row: 2;
    grid-column: 1/5;
    font-size: 12px;
    margin: 0;
    padding: 0;
}


/* second homework JS and MAP */

#idmap {
    height: 100%;
    width: 100%;
    grid-column: 1/5;
    border: 1px solid;
    border-color: orange;
    border-radius: 8px;
}

.map-wrapper {
    padding: 0;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.get-markers {
    width: 100%;
    margin: 10px 0;
}


/* Self Note: Maybe write media queries that will make form flexbox look better */